<form class="cotainer-fluid"  (submit)="getForm1($event)">
  <p> Enter Your Personal Information</p>
  <table>
    <tr>
  
    <td>Firstname:</td>
    <td><input type="text" class="form-group" id="firstname" [(ngModel)]="firstname"></td>
  
    </tr>
    <!--<tr>
  
    <td>Lastname:</td>
    <td><input type="text" class="form-group" id="lastname"  [(ngModel)]="data.lname" name="data.lname"></td>
 
    </tr>
    <tr>
   
    <td>Age: </td>
   <td> <input type="text" class="form-group" id="age" [(ngModel)]="data.age" name="data.age"required></td>
 
    </tr>
    <tr>
    
    <td>DOB: </td>
   <td> <input type="text" class="form-group" id="dob"  [(ngModel)]="data.dob" name="data.dob" required></td>
 
    </tr>

    <tr>
    <td>Gender: </td>
   <td> <input type="text" class="form-group" id="gender"  [(ngModel)]="data.gender" name="data.gender" required></td>
 
    </tr>
  
    <tr>
    <td>Email: </td>
   <td> <input type="text" class="form-group" id="email"  [(ngModel)]="data.email" name="data.email" required></td>
 
    </tr>

    <tr>
    <td>Mobile No: </td>
   <td> <input type="text" class="form-group" id="mobile"  [(ngModel)]="data.mobileno" name="data.mobileno" required></td>
 
    </tr>

    <tr>
    <td>Address : </td>
   <td> <input type="text" class="form-group" id="address"  [(ngModel)]="data.address" name="data.address" required></td>
 
    </tr>

    <tr>
    <td>Country Of Origin : </td>
   <td> <input type="text" class="form-group" id="country"  [(ngModel)]="data.country" name="data.country" required></td>
 
    </tr>-->



   
  </table>


  
  <!--<button s type="submit" class="btn btn-default">Save</button>-->
</form>
<!--<button (click)="getDetails($event)" type="submit" class="btn btn-default">Next</button>-->