  <html><head>
    
  </head>  <nav class = "navbar" style="background-color: #DC143C;" role = "navigation">

        <!--<a class = "navbar-brand" style="color: white;" routerLink="/">Customer Insurance</a>-->
         <a class = "navbar-brand" style="color: white;" routerLink="/">User portal</a>
       <ul class = "nav navbar-nav bg-inverse">
            <li class = "active"><a routerLink="/login" routerLinkActive="active" style="color: white;" >User Login</a></li>
          </ul>
          <ul class = "nav navbar-nav bg-inverse">
            <li class = "active"><a routerLink="/register" routerLinkActive="active" style="color: white;" >Register</a></li>
          </ul>      
        

            
      
    </nav>




      <router-outlet></router-outlet>
  </html>